body{
	background-color: black;
}

.text{
	color: white;
	font-family: 'Courier New';
	text-align: center;
	font-size: 30px;
}

#ques{
	font-size: 40px;
	font-weight: bold;
	color: red;
}

.msg{
	display:none;
}
