#cpool{
	border:1px solid #000000;
	background-color: white;
}

.bg{
	background-color: black;
}

.text{
	font-family: 'Courier New';
	text-align: center;
	font-size: 30px;
}

.code{
	color:black;
	transition: 1s;
	-webkit-transition: 1s;
}

.code:hover{
	color:white;
	transition: 1s;
	-webkit-transition: 1s;
}
