#cpool{
	border:1px solid #000000;
	background-color: white;
}

.bg{
	background-color: black;
}

.text{
	font-family: 'Courier New';
	text-align: center;
	font-size: 30px;
}

.canvas{
	width: 100%;
}
